{
  "presets": [
    ["@babel/preset-env", {"modules": false}],
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
