<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello React!</title>
    </head>
    <body>
        <div id="root"></div>

        <!-- Dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.1.0/umd/react.production.min.js"
            integrity="sha384-fxMqpEIVIyyo5HWUwK/TMDN8ln3NtWw6VH3HOlS83gAmCbCX0FLEiv5Mub1h7IXC"
            crossorigin="anonymous">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.1.0/umd/react-dom.production.min.js"
            integrity="sha384-HcHQ5kIf6muaB/HiVLWNZdi00UlDTmXTrfFvunk2IZurJny1RY0EJjpfSIkCXc0h"
            crossorigin="anonymous"></script>
    </body>
</html>
