<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello React!</title>
    </head>
    <body>
        <div id="root"></div>

        <!-- Dependencies -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.1.1/umd/react.production.min.js" integrity="sha256-aOOjVC95SZguoWsCaRskLhkbVFsaYKoYJom4VdHlOEo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.1.1/umd/react-dom.production.min.js" integrity="sha256-d0hfGFA209oNZEnEJ8ZJKLl9+ZMFeIrIAiFzaSSRY5U=" crossorigin="anonymous"></script>
    </body>
</html>
