<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello React!</title>
    </head>
    <body>
        <div id="root"></div>

        <!-- Dependencies -->
        <% if (webpackConfig.mode == 'production') { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.2/umd/react.production.min.js" integrity="sha256-KTFDslikmG6pdlM/sWifLKUoZO6NAKchxODdKXzrrkk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.2/umd/react-dom.production.min.js" integrity="sha256-JIjKT2LMSzY0XQ9qlNquP9C6Qc/1w3mI3Q7b+bDhCTA=" crossorigin="anonymous"></script>
        <% } else { %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.2/umd/react.development.js" integrity="sha256-rbuCtEYOSwMCvCNz7JrsuMpvv4BpwWBQ0nfpBoCQFGo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.2/umd/react-dom.development.js" integrity="sha256-ZlRKXWBjBxw2u4crS3EZu7SSh8GQpGwNvwGrZnrzLGQ=" crossorigin="anonymous"></script>
        <% } %>
    </body>
</html>
